{% extends 'base.html.twig' %}

{% block title %}Tarification{% endblock %}

{% block body %}

{% include "layout/navbar.html.twig" %}

<div id="carouselExample" class="carousel slide caroutaf" >
    
    <div class="carousel-inner">
      <div class="carousel-item active">

        
        <div class="d-flex justify-content-center flex-nowrap flex-column align-items-center text-center gap-5">
            <h2 class="bg-m-green text-light w-50">Qui sommes-nous ?</h2>
            <div class=" w-50 bg-l-green d-flex nowrap align-items-center">
                
                
                    <img src="/images/icons/logo.svg" alt="website logo" class="w-25 ">
                
                
                <div class="card-body text-light w-50">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque
                    facilisis ornare. Suspendisse id est suscipit orci pellentesque egestas vel at ligula. Integer a leo id sem auctor facilisis. Donec at sem quis mauris gravida elementum. Vivamus ac nisl non mi sodales posuere id vel mauris. Proin eget risus tortor. Morbi feugiat porta sagittis.</p>
                </div>
                
            </div>
            <a href="{{path('app_demande_operation')}}"><button class="btn-style ">Demande d'opération</button></a>

        
</div>
        
      </div>


      <div class="carousel-item " >

        <div class="d-flex justify-content-center align-items-center gap-5 text-center pt-3">
        <div class="operation_to_take">
            <div class="card-header p-1">Petite Opération</div>
            <div class="card-img">
                
                <img src="/images/imgOpPetit.svg" class="img-thumbnail" alt="">
            </div>
            <div class="card-body d-flex flex-column align-items-center bg-d-green text-light">
                <h3>Fast and Clean</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia optio voluptas quasi dolorem quo nesciunt officiis quod, non veritatis itaque. Cupiditate accusamus velit ullam sapiente dolorem perferendis voluptas expedita necessitatibus!</p>
            </div>
            <div class="text-center bg-d-green">
        
        </div>
        </div>
        <a href="{{path('app_demande_operation')}}"><button class="btn-style ">Demande d'opération</button></a>
        </div>
        
        </div>

        <div class="carousel-item">

            <div class="d-flex justify-content-center align-items-center gap-5 text-center pt-3">
                <div class="operation_to_take">
                    <div class="card-header p-1">Moyenne Opération</div>
                    <div class="card-img">
                        
                        <img src="/images/imgOpMoyen.svg" class="img-thumbnail" alt="">
                    </div>
                    <div class="card-body d-flex flex-column align-items-center bg-d-green text-light">
                        <h3>Fast and Clean</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia optio voluptas quasi dolorem quo nesciunt officiis quod, non veritatis itaque. Cupiditate accusamus velit ullam sapiente dolorem perferendis voluptas expedita necessitatibus!</p>
                    </div>
                    <div class="text-center bg-d-green">
                
                </div>
                </div>
                <a href="{{path('app_demande_operation')}}"><button class="btn-style ">Demande d'opération</button></a>
                </div>
            </div>

            <div class="carousel-item">

                <div class="d-flex justify-content-center align-items-center gap-5 text-center pt-3">
                    <div class="operation_to_take">
                        <div class="card-header p-1">Grosse Opération</div>
                        <div class="card-img">
                            
                            <img src="/images/imgOpGrosse.svg" class="img-thumbnail" alt="">
                        </div>
                        <div class="card-body d-flex flex-column align-items-center bg-d-green text-light">
                            <h3>Fast and Clean</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia optio voluptas quasi dolorem quo nesciunt officiis quod, non veritatis itaque. Cupiditate accusamus velit ullam sapiente dolorem perferendis voluptas expedita necessitatibus!</p>
                        </div>
                        <div class="text-center bg-d-green">
                    
                    </div>
                    </div>
                    <a href="{{path('app_demande_operation')}}"><button class="btn-style ">Demande d'opération</button></a>
                    </div>
                </div>

                <div class="carousel-item">

                    <div class="d-flex justify-content-center align-items-center gap-5 text-center pt-3">
                        <div class="operation_to_take">
                            <div class="card-header p-1">Custom Opération</div>
                            <div class="card-img">
                                
                                <img src="/images/imgOpCustom.svg" class="img-thumbnail" alt="">
                            </div>
                            <div class="card-body d-flex flex-column align-items-center bg-d-green text-light">
                                <h3>Fast and Clean</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia optio voluptas quasi dolorem quo nesciunt officiis quod, non veritatis itaque. Cupiditate accusamus velit ullam sapiente dolorem perferendis voluptas expedita necessitatibus!</p>
                            </div>
                            <div class="text-center bg-d-green">
                        
                        </div>
                        </div>
                        <a href="{{path('app_demande_operation')}}"><button class="btn-style ">Demande d'opération</button></a>
                        </div>
                    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

{% include "layout/footer.html.twig" %}

{% endblock %}
