{% extends 'base.html.twig' %}

{% block title %}Tarification{% endblock %}

{% block body %}

<header class="d-flex justify-content-around pt-5">
    <a href="{{path('app_home')}}"><img src="/images/icons/logo.svg" alt="website logo"></a>

    <div class="w-50 pt-5">
        <h2>Qui sommes-nous ?</h2>
        <br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque facilisis ornare. Suspendisse id est suscipit orci pellentesque egestas vel at ligula. Integer a leo id sem auctor facilisis. Donec at sem quis mauris gravida elementum. Vivamus ac nisl non mi sodales posuere id vel mauris. Proin eget risus tortor. Morbi feugiat porta sagittis.
    </div>
    </p>
</header>
<br><br>

<h1>Demande votre prestation</h1>
<br><br>

<div class="d-flex justify-content-around flex-wrap gap-5 ps-2 pe-2">
    <div class="card w-25 ">
        <div class="card-header">Petite Opération</div>
        <div class="card-img mt-2 ms-4"></div>
        <div class="card-body d-flex flex-column align-items-center">
            <h3>Fast and Clean</h3><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia optio voluptas quasi dolorem quo nesciunt officiis quod, non veritatis itaque. Cupiditate accusamus velit ullam sapiente dolorem perferendis voluptas expedita necessitatibus!</p>
            <br><br>
            <a href="{{path('app_demande_operation')}}"><button class="btn_nav">Demmande d'operation</button></a>
        </div>
    </div>


    <div class="card w-25">
        <div class="card-header">Moyenne Opération</div>
        <div class="card-img mt-2 ms-4"></div>
        <div class="card-body d-flex flex-column align-items-center">
            <h3>Fast and Clean</h3><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia optio voluptas quasi dolorem quo nesciunt officiis quod, non veritatis itaque. Cupiditate accusamus velit ullam sapiente dolorem perferendis voluptas expedita necessitatibus!</p>
            <br><br>
            <a href="{{path('app_demande_operation')}}"><button class="btn_nav">Demmande d'operation</button></a>
        </div>
    </div>

    <div class="card w-25">
        <div class="card-header">Grande Opération</div>
        <div class="card-img mt-2 ms-4"></div>
        <div class="card-body d-flex flex-column align-items-center">
            <h3>Fast and Clean</h3><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia optio voluptas quasi dolorem quo nesciunt officiis quod, non veritatis itaque. Cupiditate accusamus velit ullam sapiente dolorem perferendis voluptas expedita necessitatibus!</p>
            <br><br>
            <a href="{{path('app_demande_operation')}}"><button class="btn_nav">Demmande d'operation</button></a>
        </div>
    </div>

    <div class="card w-25 ">
        <div class="card-header">Customisable Opération</div>
        <div class="card-img mt-2 ms-4"></div>
        <div class="card-body d-flex flex-column align-items-center">
            <h3>Fast and Clean</h3><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia optio voluptas quasi dolorem quo nesciunt officiis quod, non veritatis itaque. Cupiditate accusamus velit ullam sapiente dolorem perferendis voluptas expedita necessitatibus!</p>
            <br><br>
            <a href="{{path('app_demande_operation')}}"><button class="btn_nav">Demmande d'operation</button></a>
        </div>
    </div>
    
</div>
<br><br>

{% include "layout/footer.html.twig" %}

{% endblock %}
