{% extends "base.html.twig" %}

{% block head %}

{% block title %}Demande d'opération
{% endblock %}
{% endblock %}
{% block body %}
<div class="d-flex globale">
	<div class='margeGauche w-25 h-100'>
		<img src="\images\icons\logo.svg" alt="logo" width=20% height=20% class"logoDOP"/>
		
		<h1 class='text-white titreDOP'><b>Merci d'avoir choisi Clean This</b></h1>
	</div>
	<div  class"formDOP">
		<h2>
			<b>Formulaire de demande d'opération :</b><br><br><br>
		</h2>
		{{form_start(Form)}}
			{{form_widget(Form.nom,{'attr':{'class': 'form form-control','placeholder': 'Nom'}})}} 
			<br>
			{{form_widget(Form.prenom,{'attr':{'class': 'form form-control','placeholder': 'Prenom'}})}}
			<br>
			{{form_widget(Form.email,{'attr':{'class': 'form form-control','placeholder': 'Email'}})}}

			<p>
				<b>Adresse du site à nettoyer :</b>
			</p>

			<label for="Adresse">Numéro et nom de la rue :
				<br>
				<input type="text" name="adresse" id="" required></label>
			<label for="CP">Code postal :
				<br>
				<input type="number" name="cp" id="" required></label>
			<label for="Ville">Ville :
				<br>
				<input type="text" name="ville" id="" required></label>
			<br><br>
			<label for="Desc">Description de l'intervention :<br>
				<input type="text" name="description" id=""></label><br><br>
				
				{# <label for="Photo">Photos du site à nettoyer : <br> #}
				<div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
			
					<p>Faites glisser un fichier dans cette <b>drop zone</b></p>
				</div>			
		{{form_end(Form)}}
		</div>
	
	</div>
	<script src="{{ asset('asset/js/script.js') }}"></script>
{% endblock %}

