{% extends 'base.html.twig' %}

{% block title %}Ajouter Opérations
{% endblock %}

{% block body %}

	<header>
		{% include "/layout/navbar.html.twig" %}
		{% include "/layout/operations_nav.html.twig" %}
	</header>

	<div class="container  min-vh-100">


		{{form_start(form)}}
		{{form_row(form.type)}}
		{{form_row(form.description_op)}}

		<div class='card-body bg-black text-white '>
			<img src='/images/icons/distance.svg' alt='localisation icon' name='localisation_icon' id='localisation_icon'/>
			<h3>Localisation</h3>
			{# {{stockOp.getAdresse()}} #}
		</div>
		<div>
			<h4>Descriptif</h4>
		</div>
		<div>
			{# {{stockOp.getDescriptionOp()}} #}
		</div>
		{{form_end(form)}}
	</div>


{% endblock %}
