{% extends 'base.html.twig' %}

{% block title %}Ajouter Opérations{% endblock %}

{% block body %}
	<header>
		{% include "/layout/navbar.html.twig" %}
		{% include "/layout/operations_nav.html.twig" %}
   		{% include "layout/_flash_message.html.twig" %}
	</header>
	<body class="op-terminer-body">
	<div>
	</div>
	<div class="container  min-vh-100">
		<h2 class="text-center mt-5">Ajouter des opérations
		</h2>
		<table class="table table-bordered table-hover table-striped border-2 mt-5 center-table">
			<thead>
				<tr>
					<th class="" scope="col">DATE DEMANDE</th>
					<th class="" scope="col">NOM CLIENT</th>
					<th class="" scope="col">PRENOM CLIENT</th>
					<th class="" scope="col">E-MAIL CLIENT</th>
					<th class="" scope="col">N°/NOM RUE</th>
					<th class="" scope="col">CP</th>
					<th class="" scope="col">VILLE</th>
					<th class="" scope="col">IMAGE</th>
					<th class="" scope="col">DESCRIPTION</th>
					<th class="" scope="col">VALIDER</th>
					<th class="" scope="col">SUPPRIMER</th>
				</tr>
			</thead>
			<tbody>
				{% for operation in stockOp %}
				{% if operation.status == "En attente" %}
				
					<tr>
						<th class="">
							{{operation.getDateCreation()|date("d/m/Y")}}
					</th>
						<td class="">{{operation.client.nom}}</td>
						<td class="">{{operation.client.prenom}}</td>
						<td class="">{{operation.client.email}}</td>
						<td class="">{{operation.adresse.getNRue()}}
							{{operation.adresse.getNomRue()}}</td>
						<td class="">{{operation.adresse.cp}}</td>
						<td class="">{{operation.adresse.getNomVille}}</td>
						<td class="">
							<button type="button">Voir les images</button>
						</td>
						<td class="">
							<div class="accordion">
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button" type="button" onclick="descriptionClient('descriptionClient{{ loop.index }}')">
											<p>Voir la description</p>
										</button>
									</h2>
									<div class="text-white bg-d-green d-none accordion-body" id="descriptionClient{{ loop.index }}">
										{{ operation.getDescriptionOp() }}
									</div>
								</div>
							</div>
						</td>
						<td class="">
							<a href="{{ path('app_edit_operation', {'id': operation.id}) }}" class="btn btn-primary">Vérifier</a>
						</td>
						<td class="center-table">
							<a onclick="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?')" href="{{path('app_remove_operation' , {'id':operation.id}) }}" class="btn btn-danger ">Supprimer</a>
						</td>
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		{% block javascripts %}
		<script src="{{ asset('asset/js/script.js') }}"></script>
		{% endblock %}
		</body>
	{% endblock %}
