{% extends 'base.html.twig' %}

{% block title %}Hello MesOperationController!{% endblock %}

{% set op_en_cours = 0 %}
        {% for op in MyOps %}
        {% if ((app.user.id == op.user.id) and op.status == "En cours" )  %}
        {% set op_en_cours = op_en_cours + 1 %}
        {% endif %}
        {% endfor %}

{% block body %}
{% include "layout/navbar.html.twig" %}
{% include "layout/operations_nav.html.twig" %}

{% if is_granted("ROLE_EXPERT") %} 

<main id="to_take_main">
    
    {% set max_op = op_en_cours %}
    <h1>Mes Operations ({{max_op}}/5)</h1>

    <section id="operations_list">
        {% for op in MyOps %}

        {% if ((app.user.id == op.user.id) and op.status == "En cours" )  %}
        {{ dump(op) }}
                
       
            <div class='operation_to_take' id="{{op.id}}">
                <h2>{{op.type}}</h2>
                <div style='width: 100%; display: flex; justify-content: flex-end; align-items: center; flex-direction: column;'>
                    <img src='/images/broken_image.svg' alt='operation picture' name='operation_picture' id='operation_picture' />
                    <br><br>
                </div>
                <div class='operation_bottom_part'>
                    <div class='operation_localisation'>
                        <img src='/images/icons/distance.svg' alt='localisation icon' name='localisation_icon' id='localisation_icon' />
                        <h3>{{op.adresse}}</h3>
                    </div>
                    <button class='operation_add_button'>Terminer</button>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </section>
        
</main>
{% elseif is_granted("ROLE_SENIOR") %} 

<main id="to_take_main">
    {% set max_op = op_en_cours %}
    <h1>Mes Operations ({{max_op}}/3)</h1>

    <section id="operations_list">
        {% for op in MyOps %}

        {% if ((app.user.id == op.user.id) and op.status == "En cours" )  %}
        {{ dump(op) }}
       
                <div class='operation_to_take'>
                    <h2>{{op.type}}</h2>
                    <div style='width: 100%; display: flex; justify-content: flex-end; align-items: center; flex-direction: column;'>
                        <img src='/images/broken_image.svg' alt='operation picture' name='operation_picture' id='operation_picture' />
                        <br><br>
                        <h4 style='text-align: center; width: 100%; background-color: white;'>{{op.id}}</h4>
                </div>
                <div class='operation_bottom_part'>
                    <div class='operation_localisation'>
                        <img src='/images/icons/distance.svg' alt='localisation icon' name='localisation_icon' id='localisation_icon' />
                        <h3>{{op.adresse}}</h3>
                    </div>
                    <button class='operation_add_button'>Ajouter</button>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </section>
        
</main>

{% else %}
<main id="to_take_main">
    {% set max_op = op_en_cours %}
    <h1>Mes Operations ({{max_op}}/1)</h1>

    <section id="operations_list">
        {% for op in MyOps %}

            {% if ((app.user.id == op.user.id) and op.status == "En cours" )  %}
            {{ dump(op) }}

                <div class='operation_to_take'>
                    <h2>{{op.type}}</h2>
                    <div style='width: 100%; display: flex; justify-content: flex-end; align-items: center; flex-direction: column;'>
                        <img src='/images/broken_image.svg' alt='operation picture' name='operation_picture' id='operation_picture' />
                        <br><br>
                        <h4 style='text-align: center; width: 100%; background-color: white;'>{{op.id}}</h4>
                    </div>
                    <div class='operation_bottom_part'>
                        <div class='operation_localisation'>
                            <img src='/images/icons/distance.svg' alt='localisation icon' name='localisation_icon' id='localisation_icon' />
                            <h3>{{op.adresse}}</h3>
                        </div>
                    <button class='operation_add_button'>Ajouter</button>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
    </section>
        
</main>

{% endif %}
{% endblock %}
