<div class='lotContainer'>
<div class="salesContainer1">
    <div class="salesTop">
        <h2 class='titreContainer'>ANNEE EN COURS</h2>
        <p class='chiffreContainer'><span class="euroSymbol">€</span> {{ currentYearSales }}</p>
    </div>
    <div class="salesBottom" >
<img src="/images/icons/Positive Dynamic.svg" alt="iconeSales">
        <p class='percentage'>+ {{ percentage }} %</p>
    </div>

</div>
<div class="salesContainer2">
    <div class="salesTop">
        <h2 class='titreContainer'>MOIS EN COURS</h2>
        <p class='chiffreContainer'><span class="euroSymbol">€</span> {{ currentYearSales }}</p>
    </div>
    <div class="salesBottom" >
<img src="/images/icons/Positive Dynamic.svg" alt="iconeSales">
        <p class='percentage'>+ {{ percentage }} %</p>
    </div>

</div>
<div class="salesContainer3">
    <div class="salesTop">
        <h2 class='titreContainer3'>OBJECTFS</h2>
        <p class='chiffreContainer3'><span class="euroSymbol3">€</span> {{ currentYearSales }}</p>
    </div>
    <div class="salesBottom" >
<img src="/images/icons/Positive Dynamic.svg" alt="iconeSales">
        <p class='percentage'>+ {{ percentage }} %</p>
    </div>
</div>
</div>
