{% extends 'base.html.twig' %}

{% block title %}Liste des opérations
{% endblock %}

{% block body %}
	<header>
		{% include "/layout/navbar.html.twig" %}
		{% include "/layout/operations_nav.html.twig" %}
	</header>
	<body class="op-terminer-body">
		<div class="d-flex align-items-center justify-content-end bg-d-green text-white p-1">
			{% include "/layout/search_results.html.twig" %}
		</div>
		{% if getUrlStatus != 'En cours' %}
			<a href="{{path('app_operation_filter', {'status' : 'En cours'})}}">
				<button id="return">←</button>
			</a>
		{% endif %}

		<div class="d-flex justify-content-center pt-3 ">
			{% if getUrlStatus == "A faire" %}
				<h1>Opérations disponibles</h1>
			{% elseif getUrlStatus == "En cours"%}
				<h1>Opérations en cours</h1>
			{% else %}
				<h1>Opérations terminées</h1>
			{% endif %}
		</div>
		<main class="container-fluid text-center min-vh-100">
			<section class='d-flex flex-wrap m-5 justify-content-center'>
				{% set included_table_op = false %}
				{% for operation in operations %}
					{% if operation.status == getUrlStatus and operation.status != "Terminer" %}

						<div class='card rounded-3 box-shadow m-3 h-100 card-custom'>
							<div class='rounded-top-3 bg-white text-center'>
								<h2>{{ operation.type }}</h2>
							</div>
							<div class='d-flex flex-column bg-l-green rounded-bottom-3 card-content'>
								<img class="img-fluid card-img-custom" src='/images/broken_image.svg' alt='operation picture'/>
								<div class="d-flex justify-content-center bg-white">
								 </div>
								<div class='bg-d-green w-100 rounded-bottom-3'>
									<div class='d-flex flex-column flex-wrap text-white'>
										<div class="border-bottom d-flex justify-content-center align-items-center">
											<h4 class="pt-1 ">{{ operation.getClient() }}</h4>
										</div>
										<h3>{{ operation.getAdresse() }}</h3>
									</div>
									{% if operation.status == "A faire" and getUrlStatus == "A faire" %}
										<div class='d-flex justify-content-center w-auto'>
											{% if operationsEnCours < 5 %}
												<a href="{{ path('app_operation_ajout', {'id': operation.id}) }}" class="d-flex btn-style">Ajouter à ma liste</a>
											{% else %}
												<a href="{{ path('app_operation_ajout', {'id': operation.id}) }}" class="d-flex btn-style" disabled>Limite Atteinte</a>
											{% endif %}
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					{% elseif operation.status == "Terminer" %}
						{% if not included_table_op %}
							{% include "table_op_terminees/index.html.twig" %}
							{% set included_table_op = true %}
						{% endif %}
					{% endif %}
				{% endfor %}
			</section>
		</main>
	</body>
{% endblock %}
