{% extends 'base.html.twig' %}

{% block title %}Liste des opérations{% endblock %}

{% block body %}
	<header>
		{% include "/layout/navbar.html.twig" %}
		{% include "/layout/operations_nav.html.twig" %}
		{% include "/layout/search_results.html.twig" %}
	</header>

	<form method="GET" action="{{ path('app_operation_filter_query', {'status': getUrlStatus}) }}">
		<input type="text" name="query" placeholder="Rechercher par nom de client" required>
		<button type="submit">Rechercher</button>
	</form>

	<main id="to_take_main">
		{{ dump(operationsSearch) }}
		<h2>Résultats de la recherche pour "{{ query }}"</h2>
		<section id="operations_list">
			{% if operationsSearch is not empty %}
				{% set operations_found = false %}
				{% for operation in operationsSearch %}
					{% if operation.status == getUrlStatus and operation.status != "Terminer" %}
						{% set operations_found = true %}
						<div class='operation_to_take'>
							<h2>{{ operation.type }}</h2>
							<div style='width: 100%; display: flex; justify-content: flex-end; align-items: center; flex-direction: column;'>
								<img src='/images/broken_image.svg' alt='operation picture' name='operation_picture' id='operation_picture'/>
								<br><br>
								<h4 style='text-align: center; width: 100%; background-color: white;'>{{ operation.client.nom }}</h4>
							</div>
							<div class='operation_bottom_part'>
								<div class='operation_localisation'>
									<img src='/images/icons/distance.svg' alt='localisation icon' name='localisation_icon' id='localisation_icon'/>
									<h3>Localisation</h3>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				{% if not operations_found %}
					<p>Aucune opération trouvée pour "{{ query }}".</p>
				{% endif %}
			{% else %}
				<p>Aucune opération trouvée pour "{{ query }}".</p>
			{% endif %}

			{% if operationsSearch is not empty %}
				<div class="container min-vh-100">
					<table class="table table-hover table-striped border-2 mt-5">
						<thead class='bg-violet'>
							<tr>
								<th class="center-table" scope="col">#</th>
								<th class="center-table" scope="col">NOM CLIENT</th>
								<th class="center-table" scope="col">PRENOM CLIENT</th>
								<th class="center-table" scope="col">ADRESSE</th>
								<th class="center-table" scope="col">CP</th>
								<th class="center-table" scope="col">VILLE</th>
								<th class="center-table" scope="col">TARIF</th>
								<th class="center-table" scope="col">DATE</th>
								<th class="center-table" scope="col">INTERVENANT</th>
								<th class="center-table" scope="col">FACTURE PDF</th>
								<th class="center-table" scope="col">FACTURE PAR MAIL</th>
							</tr>
						</thead>
						<tbody>
							{% for operation in operationsSearch %}
								{% if operation.status == "Terminer" %}
									<tr style="height: 3.125rem;">
										<td class="center-table">{{ operation.id }}</td>
										<td class="center-table">{{ operation.client.nom }}</td>
										<td class="center-table">{{ operation.client.prenom }}</td>
										<td class="center-table">{{ operation.adresse.nrue }} {{ operation.adresse.nomRue }}</td>
										<td class="center-table">{{ operation.adresse.cp }}</td>
										<td class="center-table">{{ operation.adresse.nomVille }}</td>
										<td class="center-table">{{ operation.tarif }}</td>
										<td class="center-table">{{ operation.dateCreation ? operation.dateCreation|date('Y-m-d') }}</td>
										<td class="center-table">{{ operation.user.nom }} {{ operation.user.prenom }}</td>
										<td class="center-table">
											<a href="{{ path('app_generate_pdf', {'id': operation.id}) }}" class="btn-style">PDF</a>
										</td>
										<td class="center-table">
											<a href="{{ path('app_generate_pdf_and_send_email', {'id': operation.id}) }}" class="btn-style">Par mail</a>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endif %}
		</section>
	</main>
{% endblock %}
