{# templates/table/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Nom Prénom</th>
                <th>Statut</th>
                <th>Objectif</th>
                <th>Réalisation</th>
                <th>Progression</th>
                <th><img src="\images\icons\Combo Chart.svg" alt="iconOp" width='39px'></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td class='name'>{{ product.name }}</td>
                    <td class='status-column {{ product.status|lower }}'>{{ product.status }}</td>
                    <td class='objectiveColumn'>{{ product.objective }} €</td>
                    <td class='objectiveColumn'>{{ product.realization }} €</td>
                    <td>
                        <div class="progress-container">
                            <div class="progress-bar" style="width: {{ (product.realization / product.objective) * 100 }}%; height: 30px;"></div>
                        </div>
                    </td>
                    <td class='operation'>{{ product.operations }} OP</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
