{# templates/table/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

<table class="tableChiffre">
    <thead>
        <tr>
            <th>Nom Prénom</th>
            <th>Statut</th>
            <th>Objectif</th>
            <th>Réalisation</th>
            <th>Progression</th>
            <th class="iconeOP"><img src="\images\icons\Positive Dynamic.svg" alt=""></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td class='user' >{{ user.nom }} {{ user.prenom }}</td>
            <td class='role' >
                {% if 'ROLE_EXPERT' in user.roles %}
                    <span id="colEx">Expert</span>
                {% elseif 'ROLE_SENIOR' in user.roles %}
                    <span id="colSe">Senior</span>
                {% else %}
                    <span id="colAp">Apprenti</span>
                {% endif %}
            </td>
            <td class='objectiveColumn'>{{ objectiveUser }} €</td>

<td class='realisation'>              
    {% set operationTarif = 0 %}
    {% for operation in operations %}
        {% if operation.user is not null and operation.user.id == user.id %}
            {% set operationTarif = operationTarif + operation.tarif %}
        {% endif %}
    {% endfor %}
    {{ operationTarif }} €          
</td>


            <td>
                <div class="progress-container">
                    <div class="progress-bar" style="width: {{ (operationTarif / objectiveUser) * 100 }}%;"></div>
                </div>
             </td>

<td class='operation'>
    {% set operationCount = 0 %}
    {% for operation in operations %}
        {% if operation.user is not null and operation.user.id == user.id %}
            {% set operationCount = operationCount + 1 %}
        {% endif %}
    {% endfor %}
    {{ operationCount }}           
</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
