{% extends 'base.html.twig' %}

{% block title %}Gestion Utilisateur{% endblock %}

{% block body %}
<div class="container pt-5">
    <br><br>
    <h1 class="text-center">Gestion Utilisateur</h1>
    <br><br>

    {# Lien d'ajout d'un nouvel utilisateur #}

<a href={{path('app_gestion_utilisateur_create')}} class="btn btn-outline-success">Ajouter un utilisateur</a>
<br><br>
    <table class="table table-bordered table-striped text-center">
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Username</th>
            <th>Rôle</th>
            <th>Action</th>
        </tr>
    {% for user in users %}
    <tr>
        <td>{{user.nom}}</td>
        <td>{{user.prenom}}</td>
        <td>{{user.username}}</td>

        {# D'apres le role attribuer a l'utilisateur on lui donne ce nom #}
        <td>
            {% if ('ROLE_EXPERT' in user.roles) %}
            <span id="colEx">Expert</span>
        {% elseif ('ROLE_SENIOR' in user.roles) %}
            <span id="colSe">Senior</span>
        {% else %}
            <span id="colAp">Apprenti</span>
            
        {% endif %}
    </td>
        <td class="w-25">
            <div class="d-flex align-items-center justify-content-around">
                {# D'apres le role de l'utilisateur, il y aura des bouton different #}
                <div>
                    {% if ("ROLE_EXPERT" in user.roles) == false %}

                        {% if ("ROLE_SENIOR" in user.roles) == false %}

                            <a onclick="return confirmer('Voulez-vous vraiment promoter cet utilisateur ?')" href="{{path('app_gestion_utilisateur_modifS' , {'id':user.id}) }}" class="btn btn-outline-warning">Définir comme SENIOR</a>

                        {% else %}

                            <a onclick="return confirmer('Voulez-vous vraiment demoter cet utilisateur ?')" href="{{path('app_gestion_utilisateur_modifA' , {'id':user.id}) }}" class="btn btn-outline-warning">Définir comme APPRENTI</a>

                        {% endif %}
                
                    {% endif %}
                </div>
                {# Bouton suppression utilisateur(l'Expert n'est pas inclu) #}
                    <div>

                    {% if ("ROLE_EXPERT" in user.roles) == false %}

                    <a onclick="return confirmer('Voulez-vous vraiment supprimer cet utilisateur ?')" href="{{path('app_gestion_utilisateur_remove' , {'id':user.id}) }}" class="btn"><img src="/images/icons/suppr.svg" alt="icone suppr" width="95%"></a>

                    {% endif %}

                    </div>
        </div>
        </td>
            
        {% endfor %}
    </tr>
    </table>

</div>

{% endblock %}
