{% extends "base.html.twig" %}
{% block title %}Modification utilisateur{% endblock %}

{% block body %}

{% include "layout/navbar.html.twig" %}
<a href="{{path('app_gestion_utilisateur')}}" ><button id="return">←</button></a>

<div id="createUser">
    <br>
    <h1 class="text-center">Modification Utilisateur</h1>
    <br>
    {{form_start(modifForm)}}
    <br>
    {{form_label(modifForm.nom, 'Nom')}}
    {{form_widget(modifForm.nom,{'attr':{'class': 'form form-control','placeholder': 'Nom'}})}}
    <br>
    {{form_label(modifForm.prenom, 'Prenom')}}
    {{form_widget(modifForm.prenom,{'attr':{'class': 'form form-control','placeholder': 'Prenom'}})}}
    <br>
    {{form_label(modifForm.username, 'Pseudo')}}
    {{form_widget(modifForm.username,{'attr':{'class': 'form form-control','placeholder': 'Username'}})}}
    <br>
    {{form_label(modifForm.roles, 'Role attribuer')}}
    {{form_widget(modifForm.roles,{'attr':{'class': 'form form-control','placeholder': 'roles'}})}}
    <br><br>
    <input type="submit" value="Modifier" class="btn-style">

    {{form_end(modifForm)}}
</div>
<br><br>

    
{% endblock %}